version: "3.9"

services:
  backend:
    build: ./backend
    environment:
      - SQLALCHEMY_DATABASE_URI=sqlite:///./aziz_ai.db
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
    ports:
      - "8000:8000"

  telegram_bot:
    build: ./telegram_bot
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - AZIZ_BACKEND_CHAT_URL=http://backend:8000/api/chat/
    ports:
      - "9000:9000"
